* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #011116;
}

.bg-video {
  position: absolute;
  z-index: -1;
}
.top-section {
  width: 100%;
  top: 0;
  padding: 30px;
}
.logo-section {
  display: flex;
  align-items: center;
}
.title {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  color: white;
  margin-left: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  position: fixed;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  list-style: none;
  /* background-color: #091f21; */
  background: #0c2b2fb2;
  color: #b0faffb2;
  width: 60%;
  justify-content: center;
  left: 20%;
  z-index: 999;
}
.nav-items li {
  padding: 10px;
  cursor: default;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}
.login {
  width: 80px;
  height: 30px;
  background: transparent;
  color: white;
}
.whitepaper {
  padding: 10px;
  border-radius: 10px;
  background-color: #cdfcff;
  width: 130px;
  transition: all 0.2s ease-in;
}
.whitepaper:hover {
  background-color: #b8e2e5;
  color: white;
}
.heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.headline {
  color: white;
  letter-spacing: 2px;
  font-size: 70px;
  padding: 10px;
}
.headline span {
  background-color: #b0f9ff;
  color: #00161d;
  padding: 10px 20px;
  border-radius: 50px;
}
.head-desc {
  color: #b0faffb2;
  padding-top: 25px;
  font-size: 18px;
  letter-spacing: 2px;
}
.open-btn {
  background: radial-gradient(#8bf9e803, #101a16);
  color: white;
  border: 1px solid #101a16;
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
  width: 150px;
  font-weight: 600;
  transition: all 3s ease;
  color: white;
}
.open-btn:hover {
  background: radial-gradient(#cdfcff, #cffcff);
  color: black;
}
.headline-small {
  display: none;
}
.feature-section {
  background-color: #011116;
  padding: 30px;
  padding-top: 100px;
}
.feature-section h1 {
  text-align: center;
  color: white;
  font-weight: 700;
}
.feature-section-small {
  display: none;
}

.first-feature-section {
  display: flex;
}
.first-feature-section h4 {
  color: white;
  padding: 5px;
}
.div-box {
  background-color: #00161d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 15px;
  transition: all 0.6s ease;
}
.first-feature-section div p {
  color: #a4d5d76a;
  padding: 5px;
}
.first-feature-section div {
  flex-grow: 1;
}
.feature-center {
  display: flex;
  flex-direction: column;
}
.div-box:hover {
  transform: scale(0.9);
  background-color: #00161d27;
  border: 2px solid #011f28;
}
.second-feature-section {
  margin: 5px;
  margin-top: 10px;
  display: flex;
}
.second-feature-section div {
  padding: 50px;
}
.second-feature-section div h4 {
  color: white;
}
.second-feature-section div p {
  color: #a4d5d76a;
}
.feature-title {
  color: white;
  text-align: center;
}

.feature-box-container div h4 {
  color: white;
}
.feature-box-container div p {
  color: #a4d5d76a;
}
.about-section {
  justify-content: center;
  align-items: center;
}
.about-section p {
  width: 70%;
  color: #b0faffb2;
}
.about-container {
  background-color: #08252a;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: white;
}
.dount-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dount-container {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}
.table {
  background-color: #092328;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.table ul {
  line-height: 3rem;
}
.preview2 {
  height: 300px;
}
.questions-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.questions-section ul li {
  align-items: center;
}
.questions-section ul li img {
  height: 20px;
}
.questions-section ul {
  line-height: 40px;
}
.explore-section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
  background: radial-gradient(#0a2f37, #011c24);
  margin: 15px;
  border: 1px solid #0a6472;
  margin-top: 30px;
  margin: 100px;
}
.explore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore-para {
  color: #5c9097;
  padding: 20px;
}
.footer {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 769px) {
  .nav-items {
    left: 17%;
  }
  .headline {
    font-size: 40px;
  }
  .heading-section {
    height: 50vh;
  }
}
@media (max-width: 426px) {
  .nav-items {
    display: none;
  }
  .btn-container {
    display: none;
  }
  .headline {
    display: none;
  }
  .bg-video {
    display: none;
  }
  .top-section {
    background-color: #031114;
  }
  .heading-section {
    height: 70vh;
    text-align: center;
  }
  .headline-small {
    display: block;
    color: white;
    line-height: 35px;
    width: 50%;
  }
  .span {
    background-color: #b0f9ff;
    color: black;
    width: 150px;
    border-radius: 15px;
  }
  .head-desc {
    font-size: 13px;
    line-height: 20px;
  }
  .feature-section {
    display: none;
  }
  .feature-section-small {
    display: block;
    background-color: #00161d;
    padding: 30px;
  }
  .div-box {
    background-color: #08252a;
  }
  .feature-box-container .div-box {
    margin: 10px;
  }
  .about-section p {
    width: 100%;
  }
  .about-container {
    flex-direction: column;
    padding: 7px;
    width: 100%;
  }
  .about-container div img {
    margin-bottom: 10px;
  }
  .dount-container {
    flex-direction: column;
    align-items: center;
  }
  .table {
    display: flex;
    width: 90%;
  }
  .table ul {
    margin-right: 10px;
  }
  .phases {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .questions-section {
    flex-direction: column;
    padding: 15px;
  }
  .questions-section h1 {
    margin-bottom: 20px;
  }
  .explore-section {
    margin: 20px;
  }
}
